.header {
  z-index: 999;

}
/* header top */
.header__top {
  height: var(--header-top);
  background-color: var(--header-color);
}
.auth {
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
  padding-bottom: 4px;
}
.auth__span,
.auth__span--not-hover {
  display: block;
  padding: 15px 20px;
  color: var(--gray);
  font-weight: 500;
  text-decoration: none;
}
.auth__span:hover {
  transition: all ease 0.2s;
  color: var(--primary);
  cursor: pointer;
}
.auth__logout {
  font-size: 1.3rem !important;
}
.forgot-password {
  text-align: right;
}
.socials {
  padding: 20px 0 8px;
  flex-direction: column;
  border-top: 3px dashed var(--border-color);
  text-align: center;
}
.socials__label {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 700;
}
.socials__icons a {
  font-size: 3.2rem;
  background-color: white;
  margin: 0 4px;
}
.socials__icons--facebook {
  color: #3b5998;
}
.socials__icons--google {
  color: #e8483a;
}
.socials__icons--instagram {
  color: #2da3ed;
}
/* header top end */

/* Header middle */
.menuHeader{
  background-color: var(--seccondary);
}
.header__middle {
  height: var(--header-middle);
  background-color: var(--seccondary);
  height: 90px;
}
.header__middle > div,
.header__middle-container {
  height: 95%;
}

.header__middle-container {
  display: flex;
  align-items: center;
}
.logo {
}
.search-bar {
  display: flex;
}
.search-bar__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 700px;
}
.search-bar__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  padding: 8px 12px;
  color: var(--primary);
  background-color: rgb(55, 182, 255);
  cursor: pointer;
  position: relative;
  border: 2px solid white;
}
.search-bar__button:hover{
  transition: background-color ease 0.2s;
    background-color: var(--black-primary);
}



svg.search-bar__button-icon {
  font-size: 2.4rem;
  color: white;
  font-size: 700;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.cart__icon {
  padding: 1.2rem;
  background-color: var(--primary);
  font-size: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.cart__info {
  background-color: #eee;
  padding: 0.6rem 1.2rem;
  text-align: center;
}
.cart__info-label {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}
.cart__info-count {
  font-size: 1.2rem;
  color: var(--black);
}
/* Header middle end */
/* .header__bottom {
  height: var(--header-bottom);
  background-color: var(--header-color);
} */

.menuHeader {
  height: 100%;
  width: 100%;
  top: 160px;
}

.menuHeader ul {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #cecece;
  top: 170px;
}

.main-menu-item,
.main-menu-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-menu-link {
  margin-right: 4rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: uppercase;
}

.main-menu-link:hover {
  color: var(--primary);
  transition: 0.2s ease;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
  
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 30px;
}

.header__cart {
  width: 160px;
  text-align: center;
}

.header__cart-wrap {
  
  display: block;
  padding: 2px 10px;
  cursor: pointer;
  background-size: cover;
  visibility:visible
  
  
}

.header__cart-icon {
  font-size: 4rem;
  color: var(--white-color);
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8.5px);
  right: 0px;
  background-color: var(--white-color);
  width: 340px;
  border-radius: 2px;
  box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 999;
  display: none;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -6.5%;
  border-width: 20px 25px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  border-radius: 8px;
  border: 2px solid rgb(48, 177, 252);
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  right: -6px;
  top: -8px;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.img__no-cart {
  width: 50%;
  display: none;
}

.span__no-cart-msg {
  display: none;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--text-color);
  margin-top: 6px;
}

.header__cart-list--no-cart .img__no-cart,
.header__cart-list--no-cart .span__no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

/* Cart has item */
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 50vh;
  overflow-y: scroll;
}

.cart-list-item {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.cart-list-item:hover {
  background-color: rgb(233, 247, 255);
  cursor: pointer;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #888;
  font-weight: 300;
  cursor: default;
}

.img__cart-item {
  width: 45px;
  height: 42px;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid rgb(183, 229, 255);
  background-color: var(--white-color);
}

.cart-list-item--info {
  width: 100%;
  margin-right: 12px;
  margin-left: 12px;
}

.cart-list-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list-item-title {
  width: 148px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.cart-item-price {
  font-size: 1.4rem;
  font-weight: 350;
  color: rgb(0, 140, 255);
}

.cart-item-multiply {
  font-size: 0.9rem;
  font-weight: 350;
  color: #757575;
  margin: 0 4px;
}

.cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 380;
  color: #757575;
}

.cart-list-item-body {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.cart-item-description {
  font-size: 1.2rem;
  font-weight: 300;
  color: #757575;
}

.cart-item-remove {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
}

.cart-item-remove:hover {
  color: var(--primary-color);
}

.btn__cart-select-all {
  float: right;
  margin: 0px 12px 12px 0;
}

.btn__cart-select-all:hover {
  background-color: rgb(32, 173, 255);
}
/* Login Form */
#login-form {
  width: 400px;
  background-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  display: none;
}

.login-form__help {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.login-form__help-link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(105, 90, 90);
  font-weight: 350;
  font-size: 1.3rem;
}

.login__seperate {
  line-height: 20px;
  font-size: 1.4rem;
  color: #666;
  font-weight: 20;
  margin-top: -1%;
  margin-left: 5px;
  margin-right: 5px;
}

.help__forget-pass {
  color: red;
}
.navbar__user-list {
  position: absolute;
  padding: 0px 0px;
  top: 113%;
  right: 0;
  width: 160px;
  background-color: var(--white-color);
  border-radius: 2px;
  list-style: none;
  z-index: 1;
  display: none;
}